<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link id="favicon" rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const hostnameDefault = '';
      const projectNameDefault = '{{ project_name }}';
      const projectVersionDefault = '{{ project_version }}';
    </script>
    <title>Squirrels Studio</title>
    <script type="module" crossorigin src="/assets/index.js?version=0.5.0rc0"></script>
    <link rel="stylesheet" crossorigin href="/assets/index.css?version=0.5.0rc0">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
