<!DOCTYPE html>
<html>
    <head>
        <title>Squirrels UI</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link href="{{ url_for('static', path='/style.css?version=1') }}" rel="stylesheet">
    </head>
    <body>
        <div id="root"></div>

        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        
        <script>
            const token_path = '{{ token_path }}';
            const catalog_path = '{{ catalog_path }}';
        </script>
        <script type="text/babel" src="{{ url_for('static', path='/widgets.js') }}"></script>
    </body>
</html>