[tool.poetry]
name = "squirrels"
version = "0.3.2"
description = "Squirrels - API Framework for Data Analytics"
license = "Apache-2.0"
authors = ["Tim Huang <tim.yuting@hotmail.com>"]
readme = "README.md"
homepage = "https://squirrels-analytics.github.io"
repository = "https://github.com/squirrels-analytics/squirrels"
documentation = "https://squirrels-analytics.github.io"
classifiers = [
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]

[tool.poetry.scripts]
squirrels = "squirrels._command_line:main"
sqrl = "squirrels._command_line:main"

[tool.poetry.dependencies]
python = "^3.9"
cachetools = "^5.3.2"
fastapi = ">=0.110.1,<1.0.0"
gitpython = "^3.1.41"
inquirer = "^3.2.1"
jinja2 = "^3.1.3"
pandas = "^2.1.4"
pyjwt = "^2.8.0"
pyyaml = "^6.0.1"
sqlalchemy = "^2.0.25"
uvicorn = ">=0.29.0,<1.0.0"
duckdb-engine = { version = ">=0.13.0,<1.0.0", optional = true }
matplotlib = "^3.8.3"
networkx = "^3.2.1"


[tool.poetry.extras]
duckdb = ["duckdb-engine"]

[tool.poetry.group.test.dependencies]
pytest = "^7.4.4"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
