# Custom environment variables
SQLITE_URI="sqlite:///{project_path}/assets/expenses.db"

# Secrets used by the Squirrels framework that are NOT SAFE TO INCLUDE IN VERSION CONTROL
# Required if your project uses authentication. Otherwise, optional.
SQRL_SECRET__KEY="" # a random 32 byte hex string - you can generate this is by running `python -c "import secrets; print(secrets.token_hex(32))"`
SQRL_SECRET__ADMIN_PASSWORD=""

# # Optional variables used by the Squirrels framework that are safe to include in version control if desired
# # (default values are shown below)
# SQRL_AUTH__DB_FILE_PATH="{project_path}/target/auth.sqlite"
# SQRL_AUTH__TOKEN_EXPIRE_MINUTES="30"
# SQRL_AUTH__ALLOWED_ORIGINS_FOR_COOKIES="https://squirrels-analytics.github.io"

# SQRL_PARAMETERS__CACHE_SIZE="1024"
# SQRL_PARAMETERS__CACHE_TTL_MINUTES="60"
# SQRL_PARAMETERS__DATASOURCE_REFRESH_MINUTES="60"

# SQRL_DATASETS__CACHE_SIZE="128"
# SQRL_DATASETS__CACHE_TTL_MINUTES="60"
# SQRL_DATASETS__MAX_ROWS_FOR_AI="100"
# SQRL_DATASETS__MAX_ROWS_OUTPUT="100000"
# SQRL_DATASETS__SQL_TIMEOUT_SECONDS="2"

# SQRL_DASHBOARDS__CACHE_SIZE="128"
# SQRL_DASHBOARDS__CACHE_TTL_MINUTES="60"

# SQRL_PERMISSIONS__ELEVATED_ACCESS_LEVEL="admin" # one of "admin", "member", "guest"

# SQRL_SEEDS__INFER_SCHEMA="true"
# SQRL_SEEDS__NA_VALUES=["NA"] # must be a JSON list

# SQRL_CONNECTIONS__DEFAULT_NAME_USED="default"

# SQRL_VDL__CATALOG_DB_PATH="ducklake:{project_path}/target/vdl_catalog.duckdb"
# SQRL_VDL__DATA_PATH="{project_path}/target/vdl_data/"

# SQRL_STUDIO__BASE_URL="https://squirrels-analytics.github.io/squirrels-studio-v1"

# SQRL_LOGGING__LOG_LEVEL="INFO" # one of "DEBUG", "INFO", "WARNING"
# SQRL_LOGGING__LOG_FORMAT="text"
# SQRL_LOGGING__LOG_TO_FILE="false"
# SQRL_LOGGING__LOG_FILE_SIZE_MB="50"
# SQRL_LOGGING__LOG_FILE_BACKUP_COUNT="1"
