table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    min-width: 50px;
}

th {
    background-color: #4285f4;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="range"] {
    width: 80%;
    padding: 12px 0px;
    border: 0px;
}

input[type=submit] {
    background-color: #4285f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3076c5;
}

#main-container {
    display: flex;
}

#parameter-container {
    width: 250px;
    min-width: 250px;
    margin-right: 50px;
    padding: 10px;
}

#table-container {
    display: none;
    padding: 10px 20px;
}

#result-table {
    margin: 20px 0px;
}

.slider-value {
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 14px;
    font-size: 18px;
}

/* Loading section */
#loading-indicator {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
  
.spinner {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    padding: 16px;
}

/* The Modal (background) */
#login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto auto auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* Warning for incorrect username/password */
#incorrect {
    display: none;
}