/* Generic styling */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    min-width: 50px;
}

th {
    background-color: #4285f4;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="range"] {
    width: 80%;
    padding: 12px 0px;
    border: 0px;
}

input[type=submit] {
    padding: 12px 20px;
    cursor: pointer;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.white-button {
    background-color: white;
    color: blue;
}

.white-button:hover {
    background-color: #d4dae1;
}

.blue-button {
    background-color: #4285f4;
    color: white;
    border: none;
}

.blue-button:hover {
    background-color: #3076c5;
}

.horizontal-container {
    display: flex;
}

.slider-value {
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 14px;
    font-size: 18px;
}

/* Specific styling */
#main-container {
    height: 97vh;
    width: 99vw;
}

#parameter-container {
    width: 250px;
    min-width: 250px;
    margin-right: 20px;
    padding: 10px;
    overflow-y: auto;
}

#right-container {
    height: 97vh;
    width: calc(99vw - 300px);
}

#header-container {
    background-color: #d4dae1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#table-container {
    display: none;
    padding: 10px 20px;
    height: calc(97vh - 70px);
    overflow-x: auto;
    overflow-y: auto;
}

#result-table {
    margin: 5px 0px;
}

/* Loading section */
#loading-indicator {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
  
.spinner {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* The Modal */
.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    padding: 16px;
    margin: 5px auto auto auto;
    border: 1px solid #888;
    width: 40%;
}
