project_variables:
  name: sample
  label: Sample Project - Expenses
  description: This is a sample squirrels project for analyzing expense transactions
  major_version: 1


packages: []

## Example for packages section:
# packages:
#   - git: https://.../myrepo.git
#     revision: v0.1.0
#     directory: custom_name ## optional


{{ connections -}}


{{ parameters -}}


datasets:
  - name: dbview_dataset_example          ## model name uses same name unless "model" field is specified
    label: Example Dataset from DBView Model
    description: Aggregated expense transactions by month using dbview_example model
    model: dbview_example 
    scope: public                         ## optional - one of 'public' (default), 'protected', or 'private'
    parameters:                           ## optional - if not specified, then all parameters are used
      - start_date
      - end_date
      - min_filter
      - max_filter
    traits: {}                            ## optional - defaults to empty object
  
  - name: federate_dataset_example
    label: Example Dataset from Federate Model
    description: Aggregated expense transactions by custom dimension using federate_example model
    model: federate_example 
    scope: protected                      ## using an auth.py file is suggested for protected or private datasets
    parameters:
      - group_by
      - limit
      - date_range
      - category
      - subcategory
      - between_filter
    default_test_set: auth_test1          ## optional - if not specified, uses setting 'selection_test_sets.default_name_used'


selection_test_sets:
  - name: no_auth_test1
    datasets:                             ## optional section - if not provided, then test set is applicable for any dataset
      - dbview_dataset_example
    parameters:                           ## optional section - if not provided, then assumes no parameters. For unspecified parameters, default value is used
      start_date: 2024-07-01              ## this parameter only exists for dataset 'dataset_example'
  
  - name: auth_test1
    datasets:
      - federate_dataset_example
    user_attributes:                      ## optional section - required if using test set on non-public datasets
      role: employee
    parameters:
      date_range: [2024-02-01,2024-12-01] ## this parameter only exists for dataset 'protected_dataset_example'
    
  - name: auth_test2
    user_attributes:
      is_internal: True                   ## optional - defaults to False
      role: manager
    parameters:
      group_by: g3                        ## this parameter exists for all datasets. "g3" is the id for option "subcategory"
