<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link id="favicon" rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squirrels Studio</title>
    <script>
      // Optional: Set global defaults for project parameters
      window.DEFAULT_HOSTNAME = '';
      window.DEFAULT_PROJECT_NAME = '{{ project_name }}';
      window.DEFAULT_PROJECT_VERSION = '{{ project_version }}';
    </script>
    <script type="module" crossorigin src="{{ sqrl_studio_base_url }}/assets/index.js"></script>
    <link rel="stylesheet" crossorigin href="{{ sqrl_studio_base_url }}/assets/index.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
